*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage__header, #contacto{
    background-color: black;
}

.navbar-brand{
    width: 65%;
    margin-right: 0% !important;
}

.nav-item{
    color: white;
    margin: 20px;
}

.nav-link{
    color: white;
}

#products--color{
    color:white;
    font-weight: 500;
}

.nav-link:hover{
    color: white !important;
}

.dropdown-item{
    color:white !important;
}

.dropdown-item:hover{
    background-color: white !important;
    color: #000 !important;
}

#contacto{
    box-shadow: 0 50vh 0 50vh #000;
}

#contact--color:hover{
    color: rgb(105, 105, 231);
}

.footer__location{
    text-align: justify;
}

.form--border{
    border-radius: 25px;
    background-color: rgb(180, 178, 178);
    padding:1rem;
}

.form__input--button{
    padding-left: 15%;
    padding-right: 15%;
}

.form__submit, .form__reset{
    flex-basis: 100%;
}

@media screen and (max-width:425px){
    .navbar-brand{
        width: 100%;
    }

    .footer__location{
        text-align: center;
    }

    .form--border{
        border-radius: 0px;
        text-align: center;
    }

    .form__input{
        text-align: center;
    }
}