*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainpage__header, #contacto{
    background-color: black;
}

/* Nav */
.navbar-brand{
    width: 65%;
    margin-right: 0% !important;
}

.nav-item{
    color: white;
    margin: 20px;
}

.nav-link{
    color: white;
}

#products--color{
    color:white;
    font-weight: 500;
}

.nav-link:hover{
    color: white !important;
}

.dropdown-item{
    color:white !important;
}

.dropdown-item:hover{
    background-color: white !important;
    color: #000 !important;
}

/* Footer */
#contacto{
    box-shadow: 0 50vh 0 50vh #000;
}

#contact--color:hover{
    color: rgb(105, 105, 231);
}

.footer__location{
    text-align: justify;
}

/* Quejas y Sugerencias */
.form--border{
    border-radius: 25px;
    background-color: rgb(230, 228, 228);
    padding:1rem;
}

.form__input--button{
    padding-left: 15%;
    padding-right: 15%;
}

.form__submit, .form__reset{
    flex-basis: 100%;
}


/* Index */
.carousel .carousel-item{
    height: 75vh;
}

.carousel-item > img{
    height: 100%;
    width:auto;
}

.div--color{
    background-color: rgb(233, 233, 235);
}

.p--align{
    text-align: justify;
}

/* Productos */
.flipcard{
    transition: transform 0.8s;
    background-color: rgb(145, 205, 207);
}

.flip__back{
    transform: rotateY(180deg);
    opacity: 0;
}

.card:hover .flipcard{
    transform: rotateY(180deg);
}

.card:hover .flip__front>*{
    opacity: 0%;
}

.card:hover .flip__back{
    opacity: 100;
    transition-delay: 0.5s;
}


/* Media Queries */
@media screen and (max-width:425px){
    .navbar-brand{
        width: 100%;
    }

    .footer__location{
        text-align: center;
    }

    .form--border{
        border-radius: 0px;
        text-align: center;
    }

    .form__input{
        text-align: center;
    }

    .div--color{
        margin: 1rem !important;
        height:50vh !important;
    }
}