@import "./variables";
@media screen and (max-width:425px){
    .navbar-brand{
        width: 100%;
    }

    .footer__location{
        text-align: center;
    }

    .form--border{
        border-radius: 0px;
        text-align: center;
    }

    .form__input{
        text-align: center;
    }

    .div--color{
        margin: 1rem !important;
        height:50vh !important;
    }
}