@import "./variables";
.card{
    .flipcard{
        transition: transform 0.8s;
        background-color: rgb(0, 0, 0);
        transform-style: preserve-3d;
        .flip__back{
            transform: rotateY(180deg);
            color:azure;
        }        
        .flip__back, .flip__front{
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
    &:hover .flipcard{
        transform: rotateY(180deg);
        color:azure;
    }
}