@import "./variables";
.card{
    background-color: transparent !important;
    .flipcard{
        transition: transform 0.8s;
        background-color: map-get($estilos, bck_dark);
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;  
        .flip__front{
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            background-color: transparent !important;
            z-index: 2;
        }
        .flip__back{
            @extend .flip__front;
            transform: rotateY(180deg);
            color: map-get($estilos, text_white);
            z-index: 1;
        }
    }
    &:hover .flipcard{
        transform: rotateY(180deg);
        color: map-get($estilos, text_white);
    }
}

.carousel-control--color{
    align-items: map-get($estilos, center);
    justify-content: map-get($estilos, center);
    @include buttonColor(rgb(7, 7, 7));
    border-radius: 50%;
}